# Understanding of the Datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1. Socioeconomic Indicators in Chicago
This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at: https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2

2. Chicago Public Schools
This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at: https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t

3. Chicago Crime Data
This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at: https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

# Loading the ipython-sql extension and establish a connection with the database

Loading the csv files into the pandas Dataframe and then loading the data into the above mentioned sqlite tables.

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ibm_db_sa) (1.3.9)

In [2]:
%load_ext sql

** Connecting to the sqlite database FinalDB**

In [3]:
%sql ibm_db_sa://gql69270:t53%2Bf65425lm7m28@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB

'Connected: gql69270@BLUDB'

# Problem Solving

# Problem 1

**Find the total number of crimes recorded in the CRIME table**

In [5]:
%%sql
SELECT COUNT(*)AS "TOTAL NO. OF CRIMES RECORDED" FROM CHICAGO_CRIME_DATA ;

 * ibm_db_sa://gql69270:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

# Problem 2

**List of community areas with per capita income less than 11000**

In [15]:
%%sql
SELECT COMMUNITY_AREA_NAME, PER_CAPITA_INCOME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME < 11000 ORDER BY PER_CAPITA_INCOME DESC;

 * ibm_db_sa://gql69270:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('West Garfield Park', 10934),
 ('Fuller Park', 10432),
 ('South Lawndale', 10402),
 ('Riverdale', 8201)]

# Problem 3

**List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)**

In [7]:
%%sql
SELECT CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE '%MINOR';

 * ibm_db_sa://gql69270:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('HL266884', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR')]

# Problem 4

**List all kidnapping crimes involving a child?**

In [8]:
%%sql
SELECT CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION FROM CHICAGO_CRIME_DATA WHERE PRIMARY_TYPE LIKE '%KIDNAPPING';

 * ibm_db_sa://gql69270:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

# Problem 5

**What kinds of crimes were recorded at schools?**

In [4]:
%%sql
SELECT  DISTINCT(PRIMARY_TYPE) FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * ibm_db_sa://gql69270:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]

# Problem 6

**List the average safety score for all types of schools.**

In [24]:
%%sql
SELECT avg(SAFETY_SCORE) AS "AVERAGE SAFETY SCORE FOR ALL TYPE OF SCHOOLS" FROM CHICAGO_PUBLIC_SCHOOLS;

 * ibm_db_sa://gql69270:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

# Problem 7

**List 5 community areas with highest % of households below poverty line.**

In [11]:
%%sql
SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM 
CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5;

 * ibm_db_sa://gql69270:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

# Problem 8

**Which community area is most crime prone?**

In [12]:
%%sql
SELECT COMMUNITY_AREA_NUMBER 
FROM CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER 
ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 1;

 * ibm_db_sa://gql69270:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(25,)]

# Problem 9

**Use a sub-query to find the name of the community area with highest hardship index.**

In [13]:
%%sql
SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX 
FROM CENSUS_DATA WHERE HARDSHIP_INDEX= (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * ibm_db_sa://gql69270:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Riverdale', 98)]

# Problem 10

**Use a sub-query to determine the Community Area Name with most number of crimes?**

In [14]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE COMMUNITY_AREA_NUMBER IN (SELECT COMMUNITY_AREA_NUMBER
FROM CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC LIMIT 1);

 * ibm_db_sa://gql69270:***@dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Austin',)]

** -----Done---- **